@font-face {
    font-family: "DepartureMono";
    src: url("./fonts/DepartureMono-Regular.woff2") format("woff2"),
         url("./fonts/DepartureMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Seulanga";
    src: url("./fonts/Seulanga-Typeface.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: "Metal-Lord";
    src: url("./fonts/Metal-Lord.otf") format("opentype");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: "kamikaze";
    src: url("./fonts/Kamikaze3DGradient.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align:center;
    font-family:"DepartureMono",sans-serif,monospace;
    /* background-color: #383A57; */
    background-color: #231942;
    color:#BE95C4;
    /* color: #BFAFE9; */
    /* background-color: black; */
    /* color:tomato; */
}
/* img{
    height:2.5rem;
} */
.navbar{
    height:5rem;
    /* background-color: #DFDFB9; */
    display:flex;
    align-items:center;
    justify-content: center;

}
.container{
    height:100%;
    width:1560px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left{
    height:100%;
    width:50%;
    display:flex;
    align-items:center;
}
#trident{
    margin-left: 30px;
    padding:1px;
    height:4.8rem;
}
a{
    color: #DFDFB9;
    text-decoration: none;
    padding-left:25px;
    padding-right: 25px;
    font-weight: 700;
    font-size: large;
}
.nav-home{
    margin-left:25px;
}
.nav-right{
    height:100%;
    width:50%;
    display:flex;
    flex-direction: row-reverse;
    align-items:center;
}
.nav-text{
    transition-property: all;
    transition-duration: 0.5s;

}
.nav-text:hover{
    transform: translateY(-5px);
}
.nav-icon{
    height:2.5rem;
    transition-property: all;
    transition-duration:0.5s;
}
.nav-icon:hover{
    transform: translateY(-7px);
}
header{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:10;
}
/*-----------------------------------------------*/
main{
    position: absolute;
    top:5rem;
    right:0;
    left:0;
    /* border:1px solid black; */
    /* background-color: tomato; */
    z-index:0;
}
.homepage{
    height:92vh;
    width:1560px;
    position:relative;
    /* background-color: lightpink; */
    margin-left:auto;
    margin-right:auto;
    /* border:1px solid green; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
}
.home-content{
    /* background-color: aqua; */
    height:35rem;
    width:90rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    z-index:2;
}
.home-1line{
    font-weight:400;
    text-align:left;
    font-size:2.5em;
    z-index:3;
    /* border: 1px solid red; */
    display:inline-block;
}
.home-1-innerline{
    display:inline-block;
    font-family:"Seulanga",monospace;
    font-size:2em;
    font-style: italic;
    /* color:#E4113F; */
    z-index:3;
}
.home-2line{
    width:100%;
    font-weight:bolder;
    text-align:center;
    font-size:6.5em;
    z-index:3;
    font-family:"Metal-lord",monospace;
    /* border:1px solid white; */
}
.home-3line{
    font-weight:500;
    font-size:1.5em;
    text-align:left;
    z-index:3;
    /* border:1px solid white; */
    color: #DFDFB9;
}
.home-scroll-gif{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    z-index:2;
}
.home-scroll-content{
    position:absolute;
    margin-top:auto;
    bottom:0;
}
#scrollgif{
    height:60px;
    z-index:3;
    /* border:1px solid black; */
}
.aboutpage{
    height:150vh;
    width:1560px;
    /* border:2px solid lightslategrey; */
    margin-top:100px;
    margin-bottom:100px;
    margin-left:auto;
    margin-right: auto;
    z-index:4;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#aboutheading{
    margin-left:180px;
    margin-top:auto;
    margin-bottom: auto;
    align-self: flex-start;
    font-size:3.5em;
    text-decoration: underline;
    font-weight: bolder;
    /* border:2px solid white; */
}
.aboutupper{
    /* border: 2px solid white; */
    /* height:40%; */
    margin-top:auto;
    margin-bottom: auto;
    width:90rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.aboutcontent{
    color: #DFDFB9;
    width:50%;
    font-size:1.3em;
    text-align:left;
}
.aboutphoto{
    height:100%;
    width:40%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#Chadpic{
    width:52%;
    border-radius: 10%;
    transition-property: all;
    transition-duration:0.4s;
}
#Chadpic:hover{
    transform:translateY(-10px);
}
.quote{
    font-style: italic;
}
.aboutlower{
    /* border:2px solid white; */
    /* height:50%; */
    margin-top:auto;
    margin-bottom: auto;
    width:90rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.aboutskills{
    text-align:left;
    height:100%;
    width:40%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-evenly;
}
#skillheading{
    margin-left:0px;
    /* align-self: flex-start; */
    font-size:2.5em;
    text-decoration: underline;
    font-weight: bolder;
    /* border:2px solid white; */
}
.skill-list{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.listouter{
    list-style: none;
    list-style-position: inside;
    font-size: 1.2em;;
}
li{
    color: #DFDFB9;
}
.aboutedu{
    height:100%;
    width:50%;
    text-align:left;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    font-size:1.5em;
}
#eduheading{
    font-size:1.8em;
    text-decoration:underline;
    font-weight:bolder;
    /* border: 2px solid white; */
}
